<h1>@ViewBag.title</h1>


    @foreach (Dictionary<string, string> job in ViewBag.jobs)
    {
        <table class="job-listing">

            <tbody>
                @foreach (KeyValuePair<string, string> item in job)
                {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                }
            </tbody>
        </table>

    }


